<launch>
  <arg name="publish_rate" default="50." />
  <arg name="robot_name" default="cf"/>
  <arg name="robot_frame" default="$(var robot_name)/base_link"/>
  <arg name="imu_name" default="imu"/>
  <arg name="rotation_topic" default="$(var imu_name)"/>
  <let name="imu_joint_states_topic" value="$(var imu_name)/joint_states"/>
  <arg name="use_gui" default="false"/>
  <arg name="user_kinematics" default="human"/>
  <arg name="user_name" default=""/>
  <let name="user_tf_prefix" value="$(eval '\'$(var user_name)/\' if \'$(var user_name)\' else \'\'')"/>

  <group>
      <push-ros-namespace namespace="$(var user_name)"/>

      <include file="$(find-pkg-share volaly_kinematics)/launch/human_model.launch.py">
        <arg name="tf_prefix" value="$(var user_tf_prefix)"/>
        <arg name="namespace" value=""/>
        <arg name="biometrics" value="$(find-pkg-share volaly_kinematics)/config/$(var user_kinematics)_kinematics.yaml"/>
        <arg name="rate" value="$(var publish_rate)"/>
        <arg name="use_gui" value="$(var use_gui)"/>
        <arg name="imu_joint_states_topic" value="$(var imu_joint_states_topic)"/>
      </include>

      <node name="pointing_node" pkg="volaly_kinematics" exec="pointing_node.py" output="screen">
        <param name="publish_rate" value="$(var publish_rate)" />
        <param name="ray_origin_frame" value="$(var user_tf_prefix)eyes"/>
        <param name="ray_pass_frame" value="$(var user_tf_prefix)finger"/>
        <param name="human_frame" value="$(var user_tf_prefix)human_footprint"/>
        <param name="joint_prefix" value="$(var user_tf_prefix)shoulder_to_wrist"/>
        <param name="robot_frame" value="$(var robot_frame)"/>
        <param name="rotation_topic" value="$(var rotation_topic)"/>
        <param name="arm_pointer_topic" value="arm_pointer"/>
        <param name="pointing_ray_topic" value="pointing_ray"/>
        <param name="switch_at_pointer" value="false"/>
        <param name="pointer_switch_margin" value="0.30"/>
        <param name="min_elev_angle_deg" value="5.0"/>

        <!-- Visualization -->
        <param name="markers_topic" value="markers"/>

      </node>
  </group>
</launch>
